JWT_SECRET=test
NEXTAUTH_SECRET=BQZa70DkrkiNY2j7zl5IJUlxIWM0RSgG
NEXTAUTH_URL=http://localhost:4000

# payment gateway env
PAYMENT_GATEWAY_URL=http://localhost:4010
PAYMENT_GATEWAY_API_KEY=put_your_payment_gateway_api_key_here
PAYMENT_GATEWAY_SECRET=put_your_payment_gateway_secret_here
SESSION_SECRET=test_session_secret