# Propayn env
PROPAYN_API_KEY=put_your_payment_gateway_api_key_here
PROPAYN_BE_URL=http://localhost:3001
PROPAYN_CALLBACK_URL=http://localhost:3001/api/v1/onRamp/callback
MERCHANT_ID=propayn_06052000
SESSION_SECRET=test_session_secret

# PG env
PG_URL=http://localhost:3010
PG_SECRET=put_your_payment_gateway_secret_here
PORT=3010

# Bank simulator env
BANK_SECRET=put_your_bank_secret_here
BANK_SERVICE_URL=http://localhost:3020